@model IEnumerable<EntityLayer.Concrete.Malzeme>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MalzemeAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalzemeMiktar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiktarKategori)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MalzemeMiktar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiktarKategori)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MalzemeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MalzemeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MalzemeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
